@import "../../scss/custom.scss";
@import "../../scss/mixin.scss";

.Lease {
  font-size: 18px;

  &_Information {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    column-gap: 50px;

    &_Tag {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      row-gap: 10px;
      column-gap: 10px;
    }

    &_Col1 {
      & > * {
        margin-bottom: 15px;
      }
    }

    &_Col2 {
      display: flex;
      justify-content: space-between;
      flex-direction: column-reverse;
      align-items: center;

      & > .Rating {
        order: -1;
      }

      & > * {
        margin-bottom: 15px;
      }
    }
  }
}

@include for-tablet-landscape-down {
  .Lease {
    font-size: 14px;

    &_Information {
      display: block;

      &_Tag {
        justify-content: space-between;
      }

      &_Col1 {
        margin-bottom: 20px;

        & > * {
          margin-bottom: 10px;
        }
      }

      &_Col2 {
        flex-direction: row;
      }
    }
  }
}
