@import "./src/scss/mixin.scss";

.Rating {
  & > img {
    margin-left: 10px;
  }
}

@include for-phone-only {
  .Rating {
    & > img {
      margin-left: 0;
      margin-right: 10px;
      height: 15px;
    }
  }
}
