@import "./../../../src/scss/custom.scss";
@import "./../../../src/scss/mixin.scss";

.Dropdown {
  width: 100%;
  align-self: flex-start;
  margin-bottom: 20px;
  overflow: hidden;
  z-index: 99;

  &_Title {
    color: $secondaryColor;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    background: #FF6060;
    padding: 10px 20px;
    border-radius: 5px;

    &:hover {
      cursor: pointer;
    }

    & > span {
      font-size: 24px;
      line-height: 34.22px;
    }

    & > img {
      height: 16px;
      width: 26px;
    }

    & > :first-child {
      flex-basis: 100%;
    }

    &_Close {
      align-items: flex-end;
      transform: rotate(0);
      transition: all 300ms ease-in-out;

      &_Active {
        transform: rotate(180deg);
        transition: all 300ms ease-in-out;
      }
    }
  }

  &_Content {
    background: #F7F7F7;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    overflow: hidden;

    &_Disable {
      max-height: 0;
      padding: 0 25px;
      transition: max-height 550ms ease-in-out, padding 650ms ease;
    }

    &_Active {
      max-height: 1000px;
      padding: 20px 25px;
      transition: max-height 550ms ease-in-out, padding 650ms ease;
    }

    & > div > ul {
      list-style: none;
    }
  }
}

@include for-phone-only {
  .Dropdown {
    &_Content {
      font-size: 12px;
      line-height: 17.11px;
    }

    &_Title {
      border-radius: 5px;

      & > span {
        font-size: 13px;
        line-height: 18.54px;
      }

      & > img {
        height: 9px;
        width: 16px;
      }
    }
  }
}
