@import "../../scss/mixin.scss";

.Title {
  font-size: 36px;
  line-height: 50px;
  font-weight: 500;
}

@include for-phone-only {
  .Title {
    font-size: 18px;
    line-height: 10px;
  }
}
