@import "./src/scss/custom.scss";

@font-face {
  font-family: 'Montserrat';
  src: url('./../public/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

*, ::before, ::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  color: $primaryColor;
  background-color: $backgroundColor;
}
